.monster-detail {
  position: fixed; /* 화면 기준 고정 */
  top: 150px;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none; /* 클릭 이벤트 방지용 (선택 사항) */
}

.monster-text {
  position: absolute;
  left: 150px;       /* 흰 배경 쪽에 정렬 */
  top: 55px;        /* 원하는 만큼 올리기 */
  max-width: 700px;
  z-index: 3;
  text-align: left;
}

.monster-name {
  font-size: 95px;
  width: 700px;
  color: hsl(270, 100%, 64%);
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: 550; /* 일반 굵기 */
}


.monster-desc {
  font-size: 25px !important;
  white-space: pre-line;
  color: #222;
  line-height: 1.2;
}


.monster-image {
  position: absolute;
  right: 150px;
  z-index: 2;
}

.monster-image img {
  width: 500px;
  border-radius: 30px;
}
