  /* 폰트 로딩 정의 */
  @font-face {
    font-family: 'HakgyoansimJiugaeR'; /* 원하는 이름 지정 */
    src: url('./assets/fonts/HakgyoansimJiugaeR.ttf') format('truetype'); /* 폰트 파일 경로 */
    font-weight: normal;
    font-style: normal;
  }
  
