/* 회원가입 페이지 스타일 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 가로 스크롤 방지 */
  background-image: url('image/log_bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 두 배경 모두 고정 */
  background-repeat: no-repeat;
  color: white;
  font-family: 'HakgyoansimJiugaeR', sans-serif;
} 

input::placeholder {
  color: #A0A0A0; /* 원하는 색상으로 변경 */
  opacity: 1; /* Firefox에서 흐릿해지는 것 방지 */
  font-family: 'HakgyoansimJiugaeR', sans-serif;
}

.signup-container {
  width: 100%;
  max-width: 600px;
  height: 450px;
  margin: 230px auto;
  padding: 30px;
  background-color:rgba(0, 0, 0, 0.05) ;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  }
  
  .signup-container h2 {
    margin: 40px;
    color: #5C2D1B;
    text-shadow: -1px -1px white, 1px 1px white;
    font-size: 60px;
    font-weight: 100;
  }
  
/* ✅ 아이디 입력창 + 중복확인 버튼 정렬용 */
  .input-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: 0 auto 20px;
  }

  .input-with-button input {
    width: 90%;
    padding: 12px;
    border: 1px solid #BEBEBE;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    color: #A0A0A0;
    font-family: 'HakgyoansimJiugaeR', sans-serif;
  }

    input:focus {
      border-color: #ffcc00;
      box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
      outline: none; /* 기본 테두리 제거 */
    }
  

  .signup-container input {
    width: 90%;
    padding: 12px;
    border: 1px solid #BEBEBE;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'HakgyoansimJiugaeR', sans-serif;
    color: #A0A0A0;
    outline: none;
    margin-bottom: 15px;
  }
  
  /* ✅ 중복확인 버튼 */
  .check-btn {
    width: 20%;
    height: 46px;
    background-color: #FFEA7E;
    margin:  2px 0px 10px 5px;
    padding: 14px;
    border: none;
    border-radius: 20px;
    color: #5C2D1B;
    font-family: 'HakgyoansimJiugaeR', sans-serif;
    font-size: 17px;
  }
  
  /* 아이디 칸만 별도로 margin과 width 조정 */
  .input-with-button input {
    margin-bottom: 0;
  }
  

  .signup-container .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .signup-btn {
    width: 93%;
    height: 50px;
    padding: 12px 10px 10px;
    margin-top: 10px;
    background-color: #FFEA7E;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: #5C2D1B;
    cursor: pointer;
    font-family: 'HakgyoansimJiugaeR', sans-serif;
  }
  

  
  